.page {
  width: 510px;
  padding: 0 467px 0 943px;
  font-family: 'Open Sans', Arial, sans-serif;
  background: url(../../images/bg.png);
  background-repeat: no-repeat;
  text-rendering: optimizeLegibility;
}
