.header__subtitle {
  text-align: center;
  max-width: 100%;
  letter-spacing: 0.26em;
  color: #77BFD7;
}

@media (max-width: 2560px) {
  .header__subtitle {
    margin: 172px 0 53px 0;
    font-size: 24px;
    line-height: 33px;
  }
}

@media (max-width: 1920px) {
  .header__subtitle {
    margin: 129px 0 40px 0;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 1440px) {
  .header__subtitle {
    font-size: 13px;
    line-height: 18px;
    margin: 96px 0 30px 0;
  }
}

@media (max-width: 1024px) {
  .header__subtitle {
    font-size: 9px;
    line-height: 13px;
    margin: 68px 0 21px 0;
  }
}

@media (max-width: 768px) {
  .header__subtitle {
    font-size: 7px;
    line-height: 10px;
    margin: 51px 0 16px 0;
  }
}

@media (max-width: 425px) {
  .header__subtitle {
    font-size: 4px;
    line-height: 5px;
    margin: 28px 0 9px 0;
  }
}

@media (max-width: 375px) {
  .header__subtitle {
    font-size: 3px;
    line-height: 5px;
    margin: 25px 0 7px 0;
  }
}

@media (max-width: 320px) {
  .header__subtitle {
    margin: 21px 0 6px 0;
  }
}
